{% if DISPLAY_TAGS_ON_SIDEBAR is not defined %}
    {% set DISPLAY_TAGS_ON_SIDEBAR = True %}
{% endif %}


            {% if DISPLAY_RECENT_POSTS_ON_SIDEBAR %}
                {% if RECENT_POST_COUNT is not defined %}
                    {% set RECENT_POST_COUNT = 5 %}
                {% endif %}

    <div class="card">
      <div class="card-header">Berita simbaruna</div>
      <ul class="list-group list-group-flush">
        {% for article in articles[:RECENT_POST_COUNT] %}
            <li class="list-group-item"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
        {% endfor %}
      </ul>
    </div>

            {% endif %}

            {% if DISPLAY_CATEGORIES_ON_SIDEBAR %}
<br>
    <div class="card">
      <div class="card-header">Kategori</div>
      <ul class="list-group list-group-flush">
        {% for cat, null in categories %}
            <li class="list-group-item"><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
        {% endfor %}
      </ul>
    </div>


            {% endif %}

            {% include 'includes/github.html' %}
            {% include 'includes/links.html' %}

