body {
    padding-top: 3.5rem;
    background-color: #fbfbf5!important;
	font-family: 'Droid Serif', sans-serif;
}

.card-title, h2 {
    color: #CE4760;
}
.jumbotron {
        background-color: #ADD8E6!important;
}

h1 {
    font-family: 'Droid Serif';
    color: #CE4760;
    font-size: 5em;
    font-weight: 400;
}

